.idea/
.figma/

dist
node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

logs/*.log
*.log
.DS_Store
.vscode
*.sw?
gin.log
/latest_log
/etc/config.yaml
/gin.log
/gva.exe
/server.exe
*.out
/agent/meta/
/agent/main

*.tar

dist/

*.zip


